.sign-in-circle {
    background: $SchemeBlue;
    color: $SchemeBlack;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin:auto;
    border: none;
    transition: all .4s ease;
}

.sign-in-circle:hover {
    background: $SchemeWhite;
}

.welcome-container {
    padding: 2rem;
    margin-top: 7%;
    border-radius: 8px;
    background-image: $ComponentTexture;
}

.signin-icon {
    color: $SchemeBlack;
    font-size: 50px;
    margin-left: -4px;
}

.logged-out-header {
    font-size: 45px;
}