.navbar-logo {
  margin-left: 1rem;
  margin-right: 1rem;
  color: $SchemeBlue !important;
  background: $SchemeBlack;
  padding: 0 6px 6px 6px;
  padding-top: -0.6875rem !important;
  border: 2px solid $SchemeBlue;
  border-radius: 7%;
  text-decoration: underline !important;
  font-size: 22px;
  transition: all .4s ease;
}

.navbar-logo:hover {
  color: $SchemeWhite !important;
  border: 2px solid $SchemeWhite;
} 

.navbar {
  background-image: url(../Assets/Images/navbarBackground.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid $SchemeBlue;
}

.navbar-overlay {
  width: 100%;
  height: 56px;
  margin: auto;
  background: rgba(20, 21, 22, 0.75);
}

.nav-link {
  color: $SchemeBlue !important;
}
