$SchemeRed: #F2506E;
$SchemeNavy: #273440;
$SchemeGreen: #527343;
$SchemeLightGreen: #B0BFA4;
$SchemeYellow: #F2D857;
$SchemeWhite: #F1F0F2;

.bgc-red { background-color: $SchemeRed }
.bgc-navy { background-color: $SchemeNavy }
.bgc-green { background-color: $SchemeGreen }
.bgc-lightgreen { background-color: $SchemeLightGreen }
.bgc-yellow { background-color: $SchemeYellow }
.bgc-white { background-color: $SchemeWhite }

.color-red { color: $SchemeRed }
.color-navy { color: $SchemeNavy }
.color-green { color: $SchemeGreen }
.color-lightgreen { color: $SchemeLightGreen }
.color-yellow { color: $SchemeYellow }
.color-white { color: $SchemeWhite }