$SchemeWhite: #F1F0F2;
$SchemeBlack: #191919;
$SchemeBlue: #38c6d9;

.bgc-white { background-color: $SchemeWhite }
.bgc-black { background-color: $SchemeBlack }
.bgc-blue { background-color: $SchemeBlue }

.color-white { color: $SchemeWhite }
.color-blue { color: $SchemeBlue }

.border-blue { border: 4px solid $SchemeBlue }
.half-border-blue { border: 2px solid $SchemeBlue }

.underline { text-decoration: underline }
.bold {font-weight: bold }